<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileAutomationSuite">
    <test name="MobileTests">
        <classes>
            <class name="com.globant.mobile.tests.NavigationTest"/>
            <class name="com.globant.mobile.tests.SignupTest"/>
            <class name="com.globant.mobile.tests.LoginTest"/>
            <class name="com.globant.mobile.tests.SwipeTest"/>
        </classes>
    </test>
</suite>
